@model IEnumerable<WebApp.Models.Student>
@{
    Layout = "_LayoutAdmin";
}
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<hr/>
<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("Partial/_userInfoPartial",item)
    }
</div>
