@model WebApp.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home ";
}
<div class="row">

    @foreach (var item in Model.Boxes)
    {
   @Html.Partial("Partial/_BoxInfoPartial", item)
        
    }



</div>