@model WebApp.ViewModels.HomeIndexViewModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home ";
    var name = ViewBag.cookie;
}

<div class="row">
    <p>
        from Cookies
    </p>
    name = @name
</div>
<div class="row">
   <p>
       from  Session
   </p> name = @HttpContextAccessor.HttpContext.Session.GetString("name");
</div>
<div class="row">
    @foreach (var item in Model.Boxes)
    {
   @Html.Partial("Partial/_BoxInfoPartial", item)
        
    }
</div>
    @section header{
        <h1>Main Info</h1>
    }