@model WebApp.ViewModels.BoxInfoViewModel

<div class="col-lg-3 col-6">
    <div class="small-box @Model.BoxType">
        <div class="inner">
            <h3>@Model.Number</h3>
            <p>@Model.Title</p>
        </div>
        <div class="icon">
            <i class="ion @Model.BoxIcon"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>