@model Student

<div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
        <span class="info-box-icon bg-info"><i class="far fa-user"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">@Model.FirstName @Model.LastName</span>
            <span class="info-box-number">@Model.Email</span>
        </div>

    </div>

</div>